.app {
  user-select: none;
}

.title {
  font-size: 125px;
  text-align: center;
  margin-bottom: 200px;
}

.board {
  text-align: center;
}

.board-row {
  margin-bottom: 50px;
}

.board-cell {
  font-size: 75px;
  display: inline-block;
  margin-right: 60px;
}